.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background: -moz-linear-gradient(#023e8a, #03045e);
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
